<label for="dropdown"><ng-content /></label>
<select
	id="dropdown"
	name="cars"
	formControlName="{{control}}"
	matTooltip="{{ValidatorForm.toolTipCreator(control)}}"
	matTooltipDisabled="{{!ValidatorForm.form.controls[control].touched && !ValidatorForm.form.controls[control].valid}}"
	[class.invalid]="ValidatorForm.form.controls[control].touched && !ValidatorForm.form.controls[control].valid">
	<option value="" disabled selected hidden>Please Select</option>
	<option *ngFor="let option of optionArray" value="{{option}}">
		{{option| titlecase
		}}
	</option>
</select>
